body {
  margin: 0;
  padding: 0;
}

.logo img {
  width: 150px;
  height: 150px;
  margin-left: 25px;
}

nav {
  display: flex;
  width: 100%;
  justify-items: center;
  align-items: center;
  background: #2c2c2c;
}

.menu {
  width: 80%;
}

ul {
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
}

ul li {
  margin-right: 35px;
  list-style: none;
 
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-family: 'Abel', sans-serif;
  padding: 2px 10px;
}

ul li a:hover {
  
 background: -webkit-linear-gradient(grey, #6ce101); 
-webkit-background-clip: text; 
-webkit-text-fill-color: transparent; 
}

.fas {
  color: white;
  cursor: pointer;
}

#dropDown a {
  color: #fff;
  display: block;
}

#products {
  position: relative;
}

/* Make invisible on load */
.dropdown-content {
  display: none;
}
/* Make vidible on load */
#dropDown {
  position: absolute;
  width: 150px;
  background: grey;
  margin-top: 10px;
  margin-right: 10px;
}

/* Class for toggle */
.show{
  display: block;
} 
