body {
  margin: 0;
  padding: 0;
  background: lightgray;
}

.logo img {
  width: 150px;
  height: 150px;
  margin-left: 25px;
}

nav {
  display: flex;
  width: 100%;
  justify-items: center;
  align-items: center;
  background: #2c2c2c;
}

.menu {
  width: 80%;
}

ul {
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
}

ul li {
  margin-right: 35px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-family: 'Abel', sans-serif;
  padding: 2px 10px;
}

ul li a:hover {
  color: #8eed3a;
  transition: .3s;
}

.fas {
  color: white;
  cursor: pointer;
}

#dropDown a {
  color: #fff;
  display: block;
}

#products {
  position: relative;
}

/* Make invisible on load */
.dropdown-content {
  display: none;
}

/* Make vidible on load */
#dropDown {
  position: absolute;
  width: 150px;
  background: rgb(119, 116, 116);
  margin-top: 10px;
  margin-left: 10px;
}

/* Class for toggle */
.show {
  display: block;
}

#dropDown a {
  font-family: 'Open Sans', sans-serif;
  ;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
  border-bottom: 1px solid white;
}

#dropDown a:last-child {
  border-bottom: none;
}

#dropDown a:hover {
  color: #dcdbdb;
  background: rgb(76, 75, 75);

}