body {
  margin: 0;
  padding: 0;
  background: lightgray;
}

.fas.fa-bars {
  display: none;
}

.mobile-slider {
  display: none;
}

.logo img {
  width: 150px;
  height: 150px;
  margin-left: 25px;
}

nav {
  display: flex;
  width: 100%;
  justify-items: center;
  align-items: center;
  background: #2c2c2c;
}

.menu {
  width: 80%;
}

ul {
  width: 100%;
  display: flex;
  justify-items: center;
  justify-content: center;
}

ul li {
  margin-right: 35px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-family: 'Abel', sans-serif;
  padding: 2px 10px;
}

ul li a:hover {
  color: #8eed3a;
  transition: .3s;
}

.fas {
  color: white;
  cursor: pointer;
}

#dropDown a {
  color: #fff;
  display: block;
}

#products {
  position: relative;
}

/* Make invisible on load */
.dropdown-content {
  display: none;
}

/* Make vidible on load */
#dropDown {
  position: absolute;
  width: 150px;
  background: rgb(119, 116, 116);
  margin-top: 10px;
  margin-left: 10px;
}

/* Class for toggle JS */

/* .show {
  display: block;
} */

#dropDown a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 10px;
  border-bottom: 1px solid white;
}

#dropDown a:last-child {
  border-bottom: none;
}

#dropDown a:hover {
  color: #dcdbdb;
  background: rgb(76, 75, 75);
}

/* -------------------------  MEDIA QUERIES --------------------------------- */

@media(max-width: 827px) {
  ul li a {
    font-size: 20px;
  }
}

@media(max-width: 767px) {

  .logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 15px;
  }

  .logo img {
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
  }

  .menu {
    position: absolute;
    top: 130px;
    display: flex;
    background: #484848;
    width: 100%;
  }

  ul li a {
    font-size: 18px;
  }

  #dropDown {
    width: 120px;
    background: rgb(119, 116, 116);
    margin-top: 16px;
  }

  #dropDown a {
    font-size: 16px;
    padding: 8px;

  }
}

@media(max-width: 539px) {

  .menu {
    display: none;
  }

  .logo img {
    margin-left: 15px;
  }

  .fas.fa-bars {
    display: block;
    color: #fff;
    margin-right: 30px;
    cursor: pointer;
  }

  .mobile-slider {
    display: block;
    position: absolute;
    width: 50%;
    background: #dcdbdb;
    height: 100%;
    background:#484848;
    top: 75;
    right: -300px;
  }

  .active {
    right: 0;
    transition: .5s;
  }

  ul.mobile {
    display: block;
    width: 100%;
   
  }

  ul.mobile li {
   padding: 10px;
   text-align: center;
   width: 80px;
  }

  ul.mobile li a:hover {
    color: #8eed3a;
    transition: .3s;
  }

   

}